.full-height() {
  height: 100%;
}

.main-container {
  background: #FAFCFF;
  display: flex;
  flex-direction: column;
  .full-height();
}

.header {
  height: 66px;
  border-bottom: solid 1px;
  border-bottom-color: #D2E0FB;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

.logo {
  width: 300px;
}

.user {
  width: 300px;
}

.center-header-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .full-height();
}

.content {
  flex: 1;
}