@radius: 10px;

@padding: 20px;

.full-height {
  height: 100%;
}

.item {
  .full-height;
  flex: 1;
  border: 1px black solid;
  border-radius: @radius;
  padding: @padding;
}

.container {
  .full-height;
  gap: 30px;
  display: flex;
  width: 100%;
  padding: @padding;
}