.flex {
  display: flex;
}

.container {
  .flex;
  padding: 10px;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.text {
  font-size: 24px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #0D4CD3;
}

.main-container {

}

.photo {
  flex: 1;
}

.contact-info {
  .flex;
  flex-direction: column;
  flex: 1;
}

.main-info {
  .flex;
  flex-direction: column;
}

.first {
  gap: 30px;
  display: flex;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.fio {
  .bold;
  font-size: 34px;
}

.header {
  .bold;
  font-size: 20px;
}

.text-info {
  font-size: 14px;
}