@radius: 10px;

.toolbar {
  display: flex;
  gap: 15px;
}

.border-radius() {
  border-radius: @radius;
}

.border-radius {
  .border-radius();
}

.create-button {
  .border-radius();
  margin-left: auto;
}

.table {
  background: white;
  padding: 5px;
  margin-top: 8px;
  .border-radius();
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.text-search {
  width: 30%;
  min-width: 400px;
}

.text-search > :global(.ant-input-wrapper) > :global(.ant-input) {
  border-radius: @radius 0 0 @radius;
}

.text-search > :global(.ant-input-wrapper) > :global(.ant-input-group-addon) > :global(.ant-btn) {
  border-radius: 0 @radius @radius 0 !important;
}