.full-height {

}

.full-height > :global(.ant-collapse-item) > :global(.ant-collapse-content) > :global(.ant-collapse-content-box) {
  padding: 0;
}

.create {
  border-radius: 10px;
}

.employee-pr-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}