.full-width {
  width: 100%;
}

.custom-padding > :global(.ant-collapse-item) > :global(.ant-collapse-content) > :global(.ant-collapse-content-box) {
  padding: 0;
}

.button {
  border-radius: 10px;
}

.flex-margin {
  flex: 1;
  margin: 0;
}